<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"	
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context	
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util	
		http://www.springframework.org/schema/util/spring-util.xsd">


	<context:annotation-config/>

	<context:property-placeholder location="classpath*:application.properties" />


	<context:component-scan base-package="org.coderdreams" />
	<context:component-scan base-package="org.coderdreams.service" />

	<bean id="panelFactory" class="org.coderdreams.webapp.PanelFactory"></bean>


	<!--
	This isn't the most secure way to store this, be careful!
   -->
	<bean id="cipherKeyBytes" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetClass" value="org.apache.shiro.codec.Base64"/>
		<property name="targetMethod" value="decode"/>
		<property name="arguments">
			<value>P7sWnbtUYuVxgVFvFlHpvQ==</value>
		</property>
	</bean>

	<bean id="cipherService" class="org.coderdreams.shiro.CipherService">
		<property name="cipherKeyBytes" ref="cipherKeyBytes"/>
	</bean>

</beans>
